body {
  background: #00b3e6;
}

div {
  margin: auto;
  width: 700px;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px;
} 

#main-header {
  font-size: 22px;
  color: red;
}

.perspective-questions {
  font-style: italic;
}
